<ion-header>
  <ion-toolbar>
    <ion-title>
      IonicApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-badge slot="start" color="dark">1</ion-badge>
    <ion-label>featured</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge slot="start" color="dark">2</ion-badge>
    <ion-label>Collective</ion-label>
    <ion-badge slot="end">5</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge slot="start" color="dark">3</ion-badge>
    <ion-label>Subscriptions</ion-label>
    <ion-badge slot="end">16</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge slot="start" color="dark">4</ion-badge>
    <ion-label>Explore</ion-label>
    <ion-badge slot="end">99+</ion-badge>
  </ion-item>
</ion-content>
